

.reset_password_content_wrapper{

    max-width: 600px;
    margin: 50px auto;
    color: white;

}

.reset_password_title{
    font-size: 2em;
    text-align: center;
    color: var(--color-orange-2);
}
.reset_password_form{
    max-width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
.reset_password_input{

    max-width: 300px;
    height: 60px;
    padding: 20px;
    border-radius: 100px 0px 0px 100px;
    font-family: var(--IBM);
    font-weight: 700;
    border: none;
    margin-bottom: 10px;
    font-size: 1.1em;
    outline: none;;
}
.reset_password_password{}
.reset_password_repeat_password{}
.reset_password_error-msg{

    height: 25px;
    margin-top: 10px;
    margin-bottom: -10px;
    color: var(--color-orange-2);
    text-align: right;
}
.reset_password_submit-button{

    margin-top: 15px;
    width: 200px;
    height: 60px;
    border-radius: 100px 0px 0px 100px;
    text-align: left;
    border: none;
    font-size: 1.5em;
    background-color: var(--color-orange-2);
    color: var(--color-white);
    margin-bottom: 10px;
    padding-left: 20px;
    outline: none;
    align-self: flex-end;
}
