

.forgot_password_content_wrapper{
    width: 100%;
    padding: 10px;
    padding-top: 40px;
}


.forgot_password_logo_container{
max-width: 200px;
margin: 0 auto;
}
.forgot_password_logo{
width: 100%;
}

.forgot_password_title{
font-size: 1.2em;
color: var(--color-orange-1);
text-align: center;
margin: 10px 0px;

}

.forgot_password_link_container{
    display: flex;
    justify-content: space-around;
}

.forgot_password_text{
    font-size: .9em;
    color: var(--color-white);
    text-align: center;
    margin: 10px 0px;
    
    
    }


.forgot_password_form{
max-width: 400px;
margin: 0 auto;
display: flex;
flex-direction: row;
}

.forgot_password_input{
width: 100%;
max-width: 300px;
height: 60px;
padding: 20px;
border-radius: 100px 0px 0px 100px;
font-family: var(--IBM);
font-weight: 700;
border: none;
margin-bottom: 10px;
font-size: .9em;
outline: none;
align-self: flex-end;
flex-grow: 2;
}

.forgot_password_line{
height: 5px;
background-color: var(--color-orange-2);
max-width: 500px;
border-radius: 100px;

border: none;
margin: 20px auto;

}

.forgot_password_email{}
.forgot_password_password{}
.forgot_password_link{
margin-bottom: 20px;
color: var(--color-orange-1);
font-weight: 400;
font-size: 1.1em; 
font-family: var(--IBM);
font-weight: 500;
text-align: right;

}

.forgot_password_error-msg{
height: 25px;
margin-top: -5px;
margin-bottom: 10px;
color: var(--color-orange-2);
text-align: center;
}

.forgot_password_submit-button{
flex-grow: 1;
margin-top: 15px;
width: 100px;
height: 60px;
border-radius: 0px 100px 100px 0px;
text-align: left;
border: none;
font-size: 1em;
background-color: var(--color-orange-1);
color: var(--color-white);
margin-bottom: 10px;
padding-left: 15px;
outline: none;
align-self: flex-end;

}



@media only screen and (min-width: 600px) {

.forgot_password_content_wrapper{
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
}

.forgot_password_form{
    margin: 40px auto;
}

.forgot_password_title{
    font-size: 2em;

    
    }
    
    .forgot_password_text{
        font-size: 1.3em;
   
        
        }

}
