/* COLOR PALETTE*/
:root {
    --color-green-1: #181911;
    --color-green-2: #3F412F;
    --color-green-3: #96A13A;
    --color-green-4: #CFE48F;
    --color-orange-1: #F85A3E;
    --color-orange-2: #FF7733;
    --color-white: #FFFFFF;
    --color-grey-1: #606060;
    --color-black: #000000;
   
} 